n8n-workflows/06-woocommerce-products-sync-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 100,
        "options": {}
      },
      "id": "2f1b1f49-500e-4835-a6f1-29fc3743ade7",
      "name": "Get WooCommerce Products",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -464,
        96
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "6kK1yOwSju8g0pa4",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform WooCommerce product to JTL FFN API format\nconst product = $input.first().json;\n\n// Get dimensions safely\nconst dimensions = product.dimensions || {};\n\n// Build identifier object (required by JTL)\nconst identifier = {\n  ean: product.sku || null,  // Use SKU as EAN if available\n  mpn: null  // Manufacturer Part Number - set if you have it\n};\n\n// Transform WooCommerce attributes to JTL format\n// JTL requires {key: string, value: string}\nconst attributes = [];\nif (product.attributes && Array.isArray(product.attributes)) {\n  for (const attr of product.attributes) {\n    if (attr.name && attr.options && attr.options.length > 0) {\n      attributes.push({\n        key: attr.name,\n        value: attr.options.join(', ')  // Join multiple values\n      });\n    }\n  }\n}\n\n// Add platform info as attribute\nattributes.push({\n  key: 'platform',\n  value: 'woocommerce'\n});\n\nattributes.push({\n  key: 'externalProductId',\n  value: product.id.toString()\n});\n\n// Build dimensions object only if all required fields are present\nlet productDimensions = null;\nif (dimensions.length && dimensions.width && dimensions.height) {\n  productDimensions = {\n    length: parseFloat(dimensions.length) / 100,  // Convert cm to m\n    width: parseFloat(dimensions.width) / 100,\n    height: parseFloat(dimensions.height) / 100\n  };\n}\n\n// Build the JTL FFN product payload\nconst transformedProduct = {\n  name: product.name,  // Required: product name\n  merchantSku: product.sku || product.id.toString(),  // Required: your SKU\n  identifier: identifier,  // Required: identifier object\n  productGroup: product.categories && product.categories[0] ? product.categories[0].name : null,\n  weight: product.weight ? parseFloat(product.weight) : null,\n  note: product.description || product.short_description || null,\n  attributes: attributes.length > 0 ? attributes : null,\n  netRetailPrice: product.price ? {\n    amount: parseFloat(product.price),\n    currency: 'EUR'  // Adjust currency as needed\n  } : null\n};\n\n// Only add dimensions if we have valid data\nif (productDimensions) {\n  transformedProduct.dimensions = productDimensions;\n}\n\nreturn [{ json: transformedProduct }];"
      },
      "id": "005bb0e3-5dd5-432b-b38a-2cf88315734d",
      "name": "Transform Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ffn.api.jtl-software.com/api/v1/merchant/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "1fdd8e4e-37f5-464b-88fc-9aafb9b7f25f",
      "name": "Send Product to JTL FFN API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        192
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "sXkCnnZQmB7fvPro",
          "name": "JTL oauth Lukas Ehmer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check if product already exists in API\n// WooCommerce raw data has 'id', not 'externalProductId' yet\nconst wooProductId = $input.first().json.id.toString();\n\ntry {\n  const creds = await this.getCredentials('oAuth2Api');\n\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://ffn.api.jtl-software.com/api/v1/merchant/products?externalId=${wooProductId}&platform=woocommerce`,\n    headers: {\n      'Authorization': `Bearer ${creds.oauthTokenData.access_token}`,\n    },\n  });\n  \n  if (response && response.data && response.data.length > 0) {\n    return [{ json: { exists: true, apiProductId: response.data[0].id, ...response.data[0] } }];\n  }\n} catch (error) {\n  console.log('Product does not exist in API, will create new:', error.message);\n}\n\nreturn [{ json: { exists: false } }];"
      },
      "id": "7b55d000-6c80-499a-9359-3b347e011ae6",
      "name": "Check if Product Exists in API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"exists\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6cd34cce-8d6b-44fe-9863-3958f0ca2427",
      "name": "Product Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge existing product data with transformed product data (to preserve platform attribute)\nconst existingProduct = $input.first().json; // From \"Product Exists?\" - has apiProductId\n\n// Get the transformed product data (with platform attribute)\nlet transformedProduct;\ntry {\n  transformedProduct = $('Transform Product Data').first().json;\n} catch (e) {\n  console.log('Could not get transformed product data:', e.message);\n  transformedProduct = null;\n}\n\n// Merge: Use transformed product data, but keep apiProductId from existing product\nconst updatePayload = {\n  ...(transformedProduct || {}),\n  apiProductId: existingProduct.apiProductId || existingProduct.id, // Use apiProductId from existing product\n  // Ensure platform attribute is included\n  attributes: transformedProduct?.attributes || existingProduct.attributes || []\n};\n\n// Make sure platform attribute is present\nif (updatePayload.attributes && Array.isArray(updatePayload.attributes)) {\n  const hasPlatform = updatePayload.attributes.some(attr => attr.key === 'platform');\n  if (!hasPlatform) {\n    updatePayload.attributes.push({\n      key: 'platform',\n      value: 'woocommerce'\n    });\n  }\n} else {\n  updatePayload.attributes = [{\n    key: 'platform',\n    value: 'woocommerce'\n  }];\n}\n\nconsole.log('Merged product data for update:', {\n  apiProductId: updatePayload.apiProductId,\n  hasPlatform: updatePayload.attributes.some(attr => attr.key === 'platform')\n});\n\nreturn [{ json: updatePayload }];"
      },
      "id": "merge-for-update",
      "name": "Merge Product Data for Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -48
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://ffn.api.jtl-software.com/api/v1/merchant/products/{{$json[\"apiProductId\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "93aaa4d4-5276-4e37-a79c-f753eec1f1a3",
      "name": "Update Product in API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        432,
        -48
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "sXkCnnZQmB7fvPro",
          "name": "JTL oauth Lukas Ehmer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const productId = $input.first().json.externalProductId || 'unknown';\nconst title = $input.first().json.title || 'N/A';\n\nconst successLog = {\n  \"timestamp\": new Date().toISOString(),\n  \"productId\": productId,\n  \"title\": title,\n  \"platform\": \"woocommerce\",\n  \"action\": \"synced_to_api\",\n  \"status\": \"success\"\n};\n\nconsole.log('Product synced successfully:', successLog);\n\nreturn [{ json: successLog }];"
      },
      "id": "8a5343ed-b9d5-44eb-a4ad-8f9ec94cd062",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const productId = $input.first().json.externalProductId || 'unknown';\nconst error = $input.first().json.error || 'Unknown error';\n\nconst errorLog = {\n  \"timestamp\": new Date().toISOString(),\n  \"productId\": productId,\n  \"platform\": \"woocommerce\",\n  \"action\": \"sync_failed\",\n  \"error\": error\n};\n\nconsole.error('Product sync failed:', errorLog);\n\nreturn [{ json: errorLog }];"
      },
      "id": "45c3541f-0c25-44b7-811d-edf361a9c114",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        240
      ]
    },
    {
      "parameters": {
        "event": "product.created"
      },
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        96
      ],
      "id": "084b272b-03e8-4eaf-a540-d02485317388",
      "name": "WooCommerce Trigger",
      "webhookId": "ca3c2123-6ec3-4678-9da6-8cd74de14edc",
      "credentials": {
        "wooCommerceApi": {
          "id": "6kK1yOwSju8g0pa4",
          "name": "WooCommerce account"
        }
      }
    }
  ],
  "connections": {
    "Get WooCommerce Products": {
      "main": [
        [
          {
            "node": "Transform Product Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Product Exists in API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Product Data": {
      "main": [
        [
          {
            "node": "Send Product to JTL FFN API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Product to JTL FFN API": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Product Exists in API": {
      "main": [
        [
          {
            "node": "Product Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Exists?": {
      "main": [
        [
          {
            "node": "Merge Product Data for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Product Data for Update": {
      "main": [
        [
          {
            "node": "Update Product in API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product in API": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Trigger": {
      "main": [
        [
          {
            "node": "Get WooCommerce Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "923562b6e5c9b7345019a0c847b18dcbbb522ef8ae30ba6cde59400a4e3f061c"
  }
}